<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRD</title>
</head>

<body>
    <div>
        Enter event:
        <select name="Event" id="inputType2">
            <option value=" "> </option>
            <option value="byte-bash">byte-bash</option>
            <option value="code-sprint">code-sprint</option>
        </select>
        <button ="/code" id="fetch-button">Fetch Data</button>
        <table id="data-container"></table>
    </div>

</body>

</html>